.HometownImage 
  margin-top: 65px
  height: auto

.HometownPage 
  margin-top: 20px  

.HometownTestimonials 
  padding-bottom: 0
  font-weight: 500
  font-size: 20px

.HometownTestimonialsSmall 
  font-weight: 500
  font-size: 14px

.HometownFooter 
  height: auto
  text-align: center
  font-size: 12px

.Italic 
  font-style: italic

.HometownTestimonialContent 
  padding-left: 50px

.subheading 
  font-weight: 500

.headline 
  font-weight: 500

.HometownLink a 
  color: #ac8f0f
  text-decoration-color: #ac8f0f

a 
  color: #ac8f0f

.HometownToolbar   
  font-weight: 500
  padding-left: 0
  padding-right: 0

@import '~vuetify/src/stylus/app'
